{
    "openapi": "3.0.1",
    "info": {
        "title": "Trwaly Nosnik API",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://api.idoxxy.com"
        }
    ],
    "security": [
        {
            "main": []
        },
        {
            "AccountApiKeyAuth": []
        }
    ],
    "paths": {
        "/user": {
            "put": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "update",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "register",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRegistrationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "removeUser",
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/groups/{groupId}": {
            "put": {
                "tags": [
                    "group-controller"
                ],
                "operationId": "updateGroup",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateGroupRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupToListWithCustomers"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "group-controller"
                ],
                "operationId": "deleteGroup",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "No Content"
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/documents/{documentId}/versions/{versionId}": {
            "put": {
                "tags": [
                    "document-controller"
                ],
                "operationId": "updateDocumentVersion",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "versionId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file",
                                    "request"
                                ],
                                "type": "object",
                                "properties": {
                                    "request": {
                                        "$ref": "#/components/schemas/UpdateDocumentVersionRequest"
                                    },
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentVersionDto"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "document-controller"
                ],
                "operationId": "deleteDocumentWithVersionIfValidFromInFuture",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "versionId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/documents/{documentId}/assign-group": {
            "put": {
                "tags": [
                    "document-controller"
                ],
                "operationId": "assignDocumentToGroup",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AssignDocumentToGroupRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Document"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/customer/{customerId}": {
            "put": {
                "tags": [
                    "customer-controller"
                ],
                "operationId": "update_1",
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomerDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "customer-controller"
                ],
                "operationId": "removeCustomer",
                "parameters": [
                    {
                        "name": "customerId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/backoffice/accounts/admins/{adminId}": {
            "get": {
                "tags": [
                    "admins-controller"
                ],
                "operationId": "get",
                "parameters": [
                    {
                        "name": "adminId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AdminAccountDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "admins-controller"
                ],
                "operationId": "update_2",
                "parameters": [
                    {
                        "name": "adminId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdminAccountToChange"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/groups": {
            "post": {
                "tags": [
                    "group-controller"
                ],
                "operationId": "createGroup",
                "parameters": [
                    {
                        "name": "groupName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupToListWithCustomers"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/groups/with-customers": {
            "post": {
                "tags": [
                    "group-controller"
                ],
                "operationId": "createGroupWithCustomers",
                "parameters": [
                    {
                        "name": "groupName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/GroupWithCustomersRequest"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupToListWithCustomers"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/groups/deferred-with-customers": {
            "post": {
                "tags": [
                    "group-controller"
                ],
                "operationId": "createDeferredGroupWithCustomers",
                "parameters": [
                    {
                        "name": "groupName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/GroupWithCustomersRequest"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupToListWithCustomers"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/documents": {
            "post": {
                "tags": [
                    "document-controller"
                ],
                "operationId": "createDocument",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file",
                                    "request"
                                ],
                                "type": "object",
                                "properties": {
                                    "request": {
                                        "$ref": "#/components/schemas/CreateDocumentRequest"
                                    },
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Document"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/documents/{documentId}/versions": {
            "post": {
                "tags": [
                    "document-controller"
                ],
                "operationId": "addDocumentVersion",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file",
                                    "request"
                                ],
                                "type": "object",
                                "properties": {
                                    "request": {
                                        "$ref": "#/components/schemas/AddDocumentVersionRequest"
                                    },
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentVersionDto"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/customer": {
            "post": {
                "tags": [
                    "customer-controller"
                ],
                "operationId": "register_1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomerRegistrationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Customer"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/customer/csv-upload": {
            "post": {
                "tags": [
                    "customer-controller"
                ],
                "operationId": "registerCsvBatch",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "file"
                                ],
                                "type": "object",
                                "properties": {
                                    "file": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/backoffice/accounts": {
            "get": {
                "tags": [
                    "all-user-controller"
                ],
                "operationId": "listUsers",
                "parameters": [
                    {
                        "name": "searchQuery",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagingResponseUserReadModel"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "account-controller"
                ],
                "operationId": "createAccount",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAccountRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/LocationDto"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/backoffice/accounts/admins": {
            "get": {
                "tags": [
                    "admins-controller"
                ],
                "operationId": "list_1",
                "parameters": [
                    {
                        "name": "pageable",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagingResponseAdminAccountDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "admins-controller"
                ],
                "operationId": "create",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdminAccountToRegister"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/accounts/{accountId}/password/reset": {
            "post": {
                "tags": [
                    "account-controller"
                ],
                "operationId": "resetPassword",
                "parameters": [
                    {
                        "name": "accountId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PasswordResetData"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/accounts/password": {
            "post": {
                "tags": [
                    "account-controller"
                ],
                "operationId": "changePassword",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PasswordChangeData"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/accounts/password/reset": {
            "post": {
                "tags": [
                    "account-controller"
                ],
                "operationId": "resetPassword_1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PasswordResetData"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/accounts/password/reset/requests": {
            "post": {
                "tags": [
                    "account-controller"
                ],
                "operationId": "requestPasswordReset",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PasswordResetRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created"
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/accounts/generate-token": {
            "post": {
                "tags": [
                    "account-controller"
                ],
                "operationId": "generateToken",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAccountApiTokenRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountApiTokenResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/user/filter": {
            "get": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "filterCustomers",
                "parameters": [
                    {
                        "name": "firstName",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lastName",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageUserToList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/user/activate/{uniqueLink}": {
            "get": {
                "tags": [
                    "user-controller"
                ],
                "operationId": "activateUser",
                "parameters": [
                    {
                        "name": "uniqueLink",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/groups/{id}": {
            "get": {
                "tags": [
                    "group-controller"
                ],
                "operationId": "getGroupById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/GroupToListWithCustomers"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/groups/search": {
            "get": {
                "tags": [
                    "group-controller"
                ],
                "operationId": "searchGroupsByName",
                "parameters": [
                    {
                        "name": "groupName",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "showDeferred",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageGroupToList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/groups/list-customers-with-groups": {
            "get": {
                "tags": [
                    "group-controller"
                ],
                "operationId": "listAllCustomers",
                "parameters": [
                    {
                        "name": "searchQuery",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    },
                    {
                        "name": "groupName",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageCustomerWithGroupsToList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/documents/{id}": {
            "get": {
                "tags": [
                    "document-controller"
                ],
                "operationId": "getDocumentById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/documents/unique/{uniqueLink}": {
            "get": {
                "tags": [
                    "document-controller"
                ],
                "operationId": "getUniqueLinkDocument",
                "parameters": [
                    {
                        "name": "uniqueLink",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/UniqueLinkDocument"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/documents/listAll": {
            "get": {
                "tags": [
                    "document-controller"
                ],
                "operationId": "listAllDocuments",
                "parameters": [
                    {
                        "name": "searchQuery",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageDocumentToList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/documents/files/{documentId}/{fileId}": {
            "get": {
                "tags": [
                    "document-file-controller"
                ],
                "operationId": "getProductFile",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "fileId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/documents/files/unique/{uniqueLink}": {
            "get": {
                "tags": [
                    "document-file-controller"
                ],
                "operationId": "getUniqueProductFile",
                "parameters": [
                    {
                        "name": "uniqueLink",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/documents/access/{uniqueLink}": {
            "get": {
                "tags": [
                    "document-controller"
                ],
                "operationId": "accessDocument",
                "parameters": [
                    {
                        "name": "uniqueLink",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/DocumentWithFileResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/details/me": {
            "get": {
                "tags": [
                    "details-controller"
                ],
                "operationId": "details",
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountDetails"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/customer/listAll": {
            "get": {
                "tags": [
                    "customer-controller"
                ],
                "operationId": "listAllCustomers_1",
                "parameters": [
                    {
                        "name": "searchQuery",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    },
                    {
                        "name": "groupName",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PageCustomerToList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/customer/documents/listAll": {
            "get": {
                "tags": [
                    "customer-document-controller"
                ],
                "operationId": "listAllDocuments_1",
                "parameters": [
                    {
                        "name": "searchQuery",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": ""
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CustomerDocumentsByCompany"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/customer/activate": {
            "get": {
                "tags": [
                    "customer-controller"
                ],
                "operationId": "activateCustomer",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "newPassword",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/backoffice/web-resources/{name}": {
            "get": {
                "tags": [
                    "web-resources-controller"
                ],
                "operationId": "loadWebResourceByName",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/backoffice/users": {
            "get": {
                "tags": [
                    "backoffice-user-controller"
                ],
                "operationId": "list",
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PagingResponseUserToList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/backoffice/accounts/roles": {
            "get": {
                "tags": [
                    "account-controller"
                ],
                "operationId": "listRoles",
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "uniqueItems": true,
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AccountRole"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/accounts/tokens": {
            "get": {
                "tags": [
                    "account-controller"
                ],
                "operationId": "getAccountTokens",
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountApiTokenList"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/documents/{documentId}": {
            "delete": {
                "tags": [
                    "document-controller"
                ],
                "operationId": "deleteDocumentIfValidFromInFuture",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "200": {
                        "description": "OK"
                    }
                },
                "security": [
                    {
                        "main": []
                    },
                    {
                        "AccountApiKeyAuth": []
                    }
                ]
            }
        },
        "/accounts/tokens/{tokenId}": {
            "delete": {
                "tags": [
                    "account-controller"
                ],
                "operationId": "deleteAccountToken",
                "parameters": [
                    {
                        "name": "tokenId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "400": {
[...]
